In [7]:
import pandas as pd 
import numpy as np 

data = np.arange(0,20).reshape(5,4)
# create dataframe --> dataframe is a type of data structure which can be used by pandas to apply various operations 
df = pd.DataFrame(data,index=("row1","row2","row3","row4","row5"),columns=["Col1","Col2","Col3","Col4"])

In [11]:
df.head(2) #will show top 5 records by default without any argument

      Col1  Col2  Col3  Col4
row1     0     1     2     3
row2     4     5     6     7

In [13]:
df.tail(3) #will show last 5 records  by default

      Col1  Col2  Col3  Col4
row3     8     9    10    11
row4    12    13    14    15
row5    16    17    18    19

In [14]:
df.info() #it will provide all the details of dataframe

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, row1 to row5
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Col1    5 non-null      int32
 1   Col2    5 non-null      int32
 2   Col3    5 non-null      int32
 3   Col4    5 non-null      int32
dtypes: int32(4)
memory usage: 120.0+ bytes

In [15]:
df.describe() #it will give us some stats of dataframe,only integer type or float type data will be selected for this operation

            Col1       Col2       Col3       Col4
count   5.000000   5.000000   5.000000   5.000000
mean    8.000000   9.000000  10.000000  11.000000
std     6.324555   6.324555   6.324555   6.324555
min     0.000000   1.000000   2.000000   3.000000
25%     4.000000   5.000000   6.000000   7.000000
50%     8.000000   9.000000  10.000000  11.000000
75%    12.000000  13.000000  14.000000  15.000000
max    16.000000  17.000000  18.000000  19.000000

In [19]:
#Indexing 
#columnname 
df.head()

df["Col1"] #its datattype is series bcz we choose only 1 col

df[["Col1","Col2"]] #its datatype will be dataframe bcz of multiple columns

      Col1  Col2
row1     0     1
row2     4     5
row3     8     9
row4    12    13
row5    16    17

In [22]:
df.loc["row1"] #datatype-series
df.loc[['row1','row2']]  #datatype - dataframe

      Col1  Col2  Col3  Col4
row1     0     1     2     3
row2     4     5     6     7

In [27]:
df

      Col1  Col2  Col3  Col4
row1     0     1     2     3
row2     4     5     6     7
row3     8     9    10    11
row4    12    13    14    15
row5    16    17    18    19

In [39]:
df.iloc[2:4,0:2] #for retriving a block of dataframe 

# format - [Row_start:Row_stop:step,Col_start:Col_stop:step]  (stop will be like stop in loop will go +1)

      Col1  Col2
row3     8     9
row4    12    13

In [32]:
df.iloc[2:,0:]

      Col1  Col2  Col3  Col4
row3     8     9    10    11
row4    12    13    14    15
row5    16    17    18    19

In [40]:
df.iloc[0:5,0:4:3]

      Col1  Col4
row1     0     3
row2     4     7
row3     8    11
row4    12    15
row5    16    19

In [45]:
#convert dataframes into arrays 
df.iloc[:4,:3].values

array([[ 0,  1,  2],
       [ 4,  5,  6],
       [ 8,  9, 10],
       [12, 13, 14]])